certifi==2025.1.31


colorama==0.4.6
deprecation==2.1.0
hightime==0.2.2
idna==3.10
nidaqmx==1.0.2
numpy==2.0.2
packaging==24.2
PyQt6==6.8.1
PyQt6-Qt6==6.8.2
PyQt6_sip==13.10.0
pyqtgraph==0.13.7
python-decouple==3.8
requests==2.32.3
tzdata==2025.2
tzlocal==5.3.1
urllib3==2.3.0
click
charset-normalizer
